.row {
    display: flex;
    margin-bottom: 20px;
  }
  
  .box {
    background-color: cornflowerblue;
    color: rgb(0, 0, 0);
    margin: 5px;
    flex-grow: 1; 
    font-weight: bold;
    text-align: left;
    min-height: 100px;
    display: flex;                
    justify-content: flex-start; 
    align-items: flex-start;  
  }
  

  .box1 {
    flex-grow: 1;
  }
  
  .box2 {
    flex-grow: 2;
  }
  
  .box3 {
    flex-grow: 2;
  }
  