body {
  background-color: lightgray;
}

.box {
  
  border: 2px solid rgba(213, 213, 232, 0.92);
  display: inline-block;
  width: 100px;
  height: 50px;
  box-shadow: 2px 2px 5px rgba(224, 92, 92, 0.3);
}

#first {
  background-color: #10b39d; 
}

#second {
  background-color: #e17626;
}

.prompt {
  display: block;
}
.button {
  background-color: rgba(185, 53, 24, 0.401);
  border: 2px solid rgba(10, 10, 16, 0.869);
  display: inline-block;
  width: 50px;
  height: 30px;
  box-shadow: 2px 2px 5px rgba(224, 92, 92, 0.3);
}
