body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  border: 5px solid rosybrown;
}

.left {
  flex: 1;
}

.right {
  flex: 3; 
}
.left, .right {
  border-right: 3px solid rgb(234, 101, 143);
  box-sizing: border-box;
  padding: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;    
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 130px; 
}

.bar {
  height: 20px;
  background-color: rgb(234, 101, 143);;
  border-radius: 3px;
}

.bar1 {
  width: 100%; 
}
.bar2 {
  width: 100%;
}
.bar3 {
  width: 50%; 
}


.right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.right p {
  max-width: 500px;
  color: darkslategray;
  font-size: 16px;
  line-height: 1.6;
}
